.itemDetailContainer{
    padding-top: 50%;
    height: 100%;
}

.spinner{
    margin-left: 50%;
}

@media screen and (min-width: 768px){
    .itemDetailContainer{
        padding-top: 9%;
        background-color: #ffe2f2;
    }
}

@media screen and (min-width: 1024px){
    .itemContainer{
        padding-top: 9%;
        background-color: #ffe2f2;
    }
}